@import "tailwindcss";

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Libre';
  src: url('fonts/librebaskerville/LibreBaskerville-Bold.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@theme {
  --color-primary: #F4EFEA;
  --color-brown: #473734;
  --color-button: #653332;
  --color-light: #F7F3EB;
  --color-medium: #CAC3BB;
  --color-creme-dark: #E0D9D1;

  --font-montserrat: "Montserrat", sans-serif;
  --font-libre: "Libre", sans-serif;
}

@layer components {
  .card-category {
    @apply relative w-full h-60 md:h-72 lg:h-80 overflow-hidden rounded-xl cursor-pointer transition-all hover:scale-[1.02] bg-brown/10
  }

  .category-text {
    @apply absolute bottom-8 left-0 right-4 flex justify-between items-center text-light ml-8 text-base md:text-lg font-montserrat font-semibold z-20
  }
}

html {
  scroll-behavior: smooth;
}